<h1>Transactions</h1>
	
<div class="container"
	<br></br>
	
	<% if @trans_list.nil? || @trans_list.empty?%>
		<p>There are no transactions associated with this user: <a href="/Transactions/New">Add a Transaction</a></p>
	<%else%>
		<br><a href="/Transactions/New">Add Transaction</a></br>
	<table class="table table-bordered table-striped">
		<tr>
			<th>Date</th>
			<th>Title</th>
			<th>Category</th>
			<th>Vendor</th>
			<th>Amount</th>
			<th>Delete Transaction</th>
		</tr>

	
		<% @trans_list.each do |trans| %>
		<tr>
			<td><%= trans.date %></td>
			<td><%= trans.title %></td>
			<% cat = Category.all.find_by(:id => trans.category_id) %>
			<td><%= cat.name.titleize%></td>
			<td><%= Vendor.find_by(:id => trans.vend_id).name %></td>
			<td><%= trans.amount %></td>
			<td><%= link_to "Delete", "/transactions/#{trans.id}/delete" %></td>
		</tr>
		<% end %>
	<%end%>
	</table>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>

 </div>