<h1>Transactions</h1>
	<br></br>
	
	<div class="btn-group">
	<p>Sort By:</p>
	  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
		Date <span class="caret"></span>
	  </button>
	  <ul class="dropdown-menu" role="menu">
		<li><a href="#">Category</a></li>
		<li><a href="#">Amount</a></li>
		<li><a href="#">Vendor</a></li>
	  </ul>
	</div>
	<br><a href="/Transactions/New">Add Item</a>
	<br></br>
	<table class="table table-bordered table-striped">
		<tr>
			<th>Date</th>
			<th>Title</th>
			<th>Category</th>
			<th>Vendor</th>
			<th>Amount</th>
		</tr>

		<% @trans_list.each do |trans| %>
		<tr>
			<td><%= trans.date %></td>
			<td><%= trans.title %></td>
			<td><%= trans.category %></td>
			<td><%= trans.vendor %></td>
			<td><%= trans.amount %></td>
		</tr>
		<% end %>
	</table>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>